PORT=3001
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=wms_print_template

CORS_ORIGIN=http://127.0.0.1:5173

TEST_DB_HOST=127.0.0.1
TEST_DB_PORT=3306
TEST_DB_USER=readonly_user
TEST_DB_PASSWORD=change_me
TEST_DB_NAME=fbu_wms_base_de
TEST_DB_CONNECTION_LIMIT=5
